.parent{
  section{
    margin-top: 20px;
    .parent-Login{
      display: flex;
      .el-row{
        margin-top: 10px;
        width: 100%;
        >.left{
          padding: 0 10px;
          display:flex;
          flex-direction: column;
          justify-content: center;
        }
        >.right{
          >.title{
            display: flex;
            //>span{
            //  font-size: 14px;
            //  color: #999;
            //  display: flex;
            //  align-items: end;
            //  margin-left: 12px;
            //}
          }
          p{
            margin-top: 10px;
            font-size: 16px;
            word-break:break-all;
          }
        }
      }
    }
  }
}