#my,#user {
  margin: 0 auto;
  padding: 20px;
  .user-info {
    display: grid;
    grid: auto auto / 80px 1fr;

    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;

    .avatar {
      grid-column: 1;
      grid-row: 1 / span 2;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    h3 {
      grid-column: 2;
      grid-row: 1;
      margin-top: 10px;
    }
  }

  .item {
    display: flex;
    margin-bottom: 20px;
    .date {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      padding:0 16px;
      span {
        color: #999;
      }
      .day {
        font-size: 40px;
      }
    }
    p {
      font-size: 14px;
      padding: 10px 0;
      text-align: justify;
      word-wrap: break-word;
      word-break: break-word;
    }
    .actions {
      .el-button{
        margin-right: 16px;
        border: none;
      }
      a {
        color: rgba(0, 153, 51, 0.6);
      }
    }

  }

}